<div class="head">
  <h1>候選人列表</h1>
  <a href="/candidates/new">新增候選人</a>
</div>

<div class="candidate-list container">
  <% @candidates.each do |candidate| %>
  <%# 候選人 start %>
  <div class="candidate-card card">
    <div class="card-avatar">
    <img src="https://picsum.photos/300/200/?random1" alt="圖片說明">
    </div>
    <div class="info">
    <h1><%= candidate.name %>(<%= candidate.age %>)</h1>
    <h2><%= candidate.party %></h2>
    <a href="#" class="more-detail">看政見</a>
    </div>
  </div>
  <%# 候選人 end %>
  <% end %>
</div>